body {
    background-color: black;
}

h1, h2, .recipes, p, li {
    color: yellowgreen;
    text-align: center;
}

li {
    list-style-type: none;
}

img {
    width: 400px;
    height: auto; 
    display: block;
    margin: auto;
}